@model WebImmobilier.Models.Bien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proprietaire.NomUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proprietaire.NomUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuperficieBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuperficieBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbreSalleEau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbreSalleEau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbreCuisine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbreCuisine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbreToilette)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbreToilette)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
