@model IEnumerable<WebImmobilier.Models.Maison>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proprietaire.NomUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionBien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuperficieBien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreSalleEau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreCuisine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreToilette)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NbreChambre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Proprietaire.NomUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionBien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuperficieBien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreSalleEau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreCuisine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreToilette)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NbreChambre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBien }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBien })
        </td>
    </tr>
}

</table>
