@model WebImmobilier.Models.Proprietaire

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Proprietaire</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Proprietaire</h4>
        <dl class="row">
            <dt class="col-sm-3">Nom</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.NomUser)</dd>

            <dt class="col-sm-3">Prenom</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PrenomUser)</dd>

            <dt class="col-sm-3">Login</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Login)</dd>

            <dt class="col-sm-3">Password</dt>
            <dd class="col-sm-9">
                <span id="password" style="display: none">@Html.DisplayFor(model => model.Password)</span>
                <button id="showPassword" class="btn btn-primary">Voir le mot de passe</button>
            </dd>
        </dl>
        <div class="col-md-12 d-inline-block p-4">
            <div class="form-group m-2">
                @Html.ActionLink("Modifier", "Edit", new { id = Model.IdUser }, new { @class = "btn btn-primary" })

                @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-outline-danger" })
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('showPassword').addEventListener('click', function() {
        var password = document.getElementById('password');
        if (password.style.display === 'none') {
            password.style.display = 'inline';
            this.textContent = 'Masquer le mot de passe';
        } else {
            password.style.display = 'none';
            this.textContent = 'Voir le mot de passe';
        }
    });
</script>
