@model WebImmobilier.Models.Proprietaire

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details Proprietaire</h2>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Proprietaire</h4>
        <dl class="row">
            <dt class="col-sm-3">Nom</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.NomUser)</dd>

            <dt class="col-sm-3">Prenom</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PrenomUser)</dd>

            <dt class="col-sm-3">Login</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Login)</dd>

            <dt class="col-sm-3">Password</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Password)</dd>
        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdUser }, new { @class = "btn btn-primary" }) |
            <div class="btn btn-outline-danger m-3">
                @Html.ActionLink("Retour à la liste", "Index")
            </div>
        </p>
    </div>
</div>
